{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}  <!-- Загружаем необходимые теги -->

{% block content %}
    {% include 'mypages/partial/carousel_section.html' %}
    {% include 'mypages/partial/catalog_section.html' %}

    <!-- Менажницы -->
    {% include 'mypages/partial/product_list_catalog.html' with title="Менажницы, доски и другое" products=manej section_id="manej" %}

    {% include 'mypages/partial/best_seller_section.html' %}

    <!-- Пазлы -->
    {% include 'mypages/partial/product_list_catalog.html' with title="Пазлы" products=pazly section_id="pazly" %}

    {% include 'mypages/partial/stocks_section.html' %}

    <!-- Подставки для телефонов -->
    {% include 'mypages/partial/product_list_catalog.html' with title="подставки для телефонов" products=podstavki section_id="podstavki" %}
    {% include 'mypages/partial/best_seller_section.html' %}

    <!-- Паноо -->
    {% include 'mypages/partial/product_list_catalog.html' with title="панно" products=panno section_id="panno" %}
    {% include 'mypages/partial/best_seller_section.html' %}

    <!-- Упаковка -->
    {% include 'mypages/partial/product_list_catalog.html' with title="упаковка" products=upakovka section_id="upakovka" %}
    {% include 'mypages/partial/best_seller_section.html' %}

    <!-- Рукоделие -->
    {% include 'mypages/partial/product_list_catalog.html' with title="рукоделие" products=rukodelie section_id="rukodelie" %}



    {% include 'mypages/partial/contacts_section.html' %}
    <script>
    </script>
{% endblock %}
