<section class="catalog-section">
    <div class="container catalog-section-container">
        <h2 class="catalog-section-title">Каталог</h2>
        <div class="row section-catalog-row">
            <div class="col-md-3 hover-col col-12">
                <a href="/menazhnicy-y-dosky/">
                    <div class="dosky">
                        <span class="dosky-hover-text">
                            Сервировочные и разделочные доски. Менажницы из массива
                            дерева. Подставки для яиц и другое
                        </span>
                        <div class="dosk-button d-flex align-items-center justify-content-center text-center">
                            <h3>
                                Доски,<br />
                                менажницы <br />
                                и другое
                            </h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-9 col-12">
                <div class="row catalog-section-top-row">
                    <div class="col-md-6 hover-col col-12">
                        <a href="/pazly/">
                            <div class="pazly">
                                <span class="pazly-hover-text">Пазлы из дерева с уникальными рисунками и
                                    гравировкой</span>
                                <div class="pazly-button d-flex align-items-center justify-content-center text-center">
                                    <h3>пазлы</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-12">
                        <a href="/podstavka-tel/">
                            <div class="potstavka">
                                <span class="potstavka-hover-text">приспособления для <br />
                                    мобильных устройств
                                </span>
                                <div class="potstavka-button d-flex align-items-center justify-content-center text-center">
                                    <h3>подставки для телефонов</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row panno-row">
                    <div class="col-md-4  panno-col col-12 hover-col">
                        <a href="/panno/">
                            <div class="panno">
                                <span class="panno-hover-text">украшение<br />интерьера для<br />вашего дома из<br />эко
                                    материалов</span>
                                <div class="panno-button d-flex align-items-center justify-content-center text-center">
                                    <h3>панно</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4  col-12 hover-col">
                        <a href="/upakovka/">
                            <div class="upakovka">
                                <span class="upakovka-hover-text">Коробки и корзинки<br />для упаковки подарков<br />на
                                    любой случай</span>
                                <div class="upakovka-button d-flex align-items-center justify-content-center text-center">
                                    <h3>упаковка</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-12">
                        <a href="/rukodelie/">
                            <div class="rukodelie">
                                <span class="rukodelie-hover-text">Коробки и корзинки<br />для упаковки подарков<br />на
                                    любой случай</span>
                                <div class="rukodelie-button d-flex align-items-center justify-content-center text-center">
                                    <h3>рукоделие</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
