<div class="contacts-2-form">
    <div class="contacts-from-div">
        <span class="contacts-2-form-text-1">
        Оставьте заявку
    </span>
    <span class="contacts-2-form-text-2">
        И мы вам обязательно перезвоним
    </span>
    <div class="contacts-input-1">
        <input class="form-control contacts-form-control-1" type="text" placeholder="Ваше Имя" aria-label="default input example" />
    </div>
    <div class="contacts-input-2">
        <input class="form-control contacts-form-control-2" type="text" placeholder="Номер Телефона" aria-label="default input example" />
    </div>
    <div class="form-check contacts-form-check d-flex align-items-center">
        <input class="form-check-input stocks-form-check-input me-2" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label contacts-2-form-text" for="flexCheckDefault">
            Согласен на обработку
            <span class="contacts-2-span">персональных данных</span>
        </label>
    </div>
    <button type="button" class="btn btn-primary contacts-2-button">
        отправить заявку
    </button>
    </div>
</div>